.footer {
  background-color: var(--main-color);
  color: var(--background-color);
  height: 1em;
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  gap: 1em;
}

.footer p {
  text-align: center;
  line-height: 150%;
}
.footer ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.footer li {
  justify-content: space-between;
  margin-right: 10px;
  font-size: 0;
}

.footer li:last-child {
  margin-right: 0;
}

.footer img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: auto;
  }
}
@media screen and (min-width: 1366px) {
  .footer {
    margin-top: auto;
  }
}
