.footer {
  display: flex;
  background-color: var(--background-color);
  color: var(--main-color);
  height: 1em;
  font-size: 14px;
  gap: 1em;
  padding: 20px;
  margin-top: 2em;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #e0e0e0;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

.footer p {
  text-align: center;
  line-height: 150%;
}
.footer ul {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 0;
  margin: 0;
}

.footer li {
  justify-content: space-between;
  margin-right: 10px;
  font-size: 0;
}

.footer li:last-child {
  margin-right: 0;
}

.footer img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: auto;
  }
}
@media screen and (min-width: 1366px) {
  .footer {
    margin-top: auto;
  }

  .footer p {
    text-align: left;
    line-height: 150%;
  }
}
