* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon {
  cursor: pointer;
  color: var(--main-color);
  font-size: 30px;
}

.overlay {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #2d415bf0;
  z-index: 1;
  overflow-x: hidden;
  transition: opacity 1s ease-in-out;
}

.overlay.active {
  opacity: 1;
  width: 100%;
  padding: 2em;
}

.menu-active {
  transform: translateX(0);
}

.menu-inactive {
  transform: translateX(-100%);
}

.customize-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .customize-btn {
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: block;
    height: 2em;
    width: 150px;
  }
}
