.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-footer-color);
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: solid 1px var(--details-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 30px;
  width: 20px;
}

.menu-icon {
  cursor: pointer;
  color: var(--icons-color);
  font-size: 30px;
}

.overlay {
  opacity: 0;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--overlay-color);
  z-index: 1;
  overflow-x: hidden;
  transition: opacity 0.5s ease-in-out;
}

.overlay.active {
  opacity: 1;
  width: 100%;
  padding: 2em;
}

.customize-btn {
  margin-right: 1em;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
}

.menus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1em;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .header {
    padding-left: 2em;
  }
}
