.info_container {
  padding-left: 0.2em;
}

.info_text {
  display: flex;
  align-items: center;
  color: var(--terciary-color);
  font-size: 12px;
  font-weight: 400;
  padding: 0.5em;
}

.info_text img {
  margin-right: 0.5em;
}

@media screen and (min-width: 768px) {
  .info_text {
    padding: 0 1.5em 0 1.5em;
  }
}

@media screen and (min-width: 1366px) {
}
