.editor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: var(--white-color);
}
.key-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.editor-container h3 {
  text-align: center;
  margin-bottom: 1.5em;
  font-weight: bold;
}
.key-input label {
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
  width: 80px; /* largura fixa para a label */
}

.key-input input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.editor-container {
  display: flex;
}
.key-input ul {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.key-input input {
  margin-bottom: 10px;
}

#setValue {
  height: 3em;
  margin-top: 10px;
}

.editor-container {
  display: flex;
}
.key-input ul li {
  margin-bottom: 10px;
}

.key-input ul li strong {
  font-weight: bold;
  margin-right: 5px;
}

.key-input > .info_text {
  color: var(--white-color);
}

#cryptoKeysList {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

#cryptoKeysList li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#cryptoKeysList li strong {
  width: 210px;
  margin-right: 10px;
}

#cryptoKeysList li span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

.theme-selection-div {
  border-radius: 5px;
  margin-bottom: 20px;
}

.theme-selection-div label {
  display: inline-block;
  width: 140px; /* largura fixa para os labels */
  margin-bottom: 10px;
  font-weight: bold;
  margin-right: 10px;
}

.theme-selection-div input[type="color"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.theme-selection-div input[type="color"]:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #ccc;
}

.theme-selection-div input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.theme-selection-div input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.theme-selection-div input {
  width: 100px;
  margin-left: 10px;
}

.theme-selection-div button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.theme-selection-div button:hover {
  background-color: #0062cc;
}
