/*Estilos Gerais*/
.editor-container {
    font-family: var(--main-font);
  }
  h3 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
  }
  
  label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
    width: 100px;
  }
  
  .custom-itens li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  .input-color::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid #000000;
  }
  .input-color::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid #000000;
  }
  
  input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  .button:hover {
    background-color: #fff;
    color: #0a3871;
    border: 1px solid #0a3871;
  }
  
  .info_text {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #attentionIconCustom {
    fill: #dc3545;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  
  /* Estilos específicos */
  
  /*Sessão dos inputs*/
  
  .custom-itens:nth-child(1) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--background-color);
    padding: 2rem;
  }
  
  .custom-itens:nth-child(1) input[type="text"] {
    width: 100%;
  }
  
  /*Sessão das keys atuais*/
  
  .custom-itens:nth-child(2) {
    background-color: var(--background-color);
    padding: 2rem;
  }
  
  .custom-itens:nth-child(2) button {
    margin-top: 1rem;
  }
  
  /*Sessão dos temas*/
  .custom-itens:nth-child(3) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--background-color);
    padding: 2rem;
  }
  
  .custom-itens:nth-child(3) li {
    padding: 0 1em 0 1em;
    background-color: #dc3545;
    display: flex;
    align-items: center;
  }
  
  .custom-itens:nth-child(3) label {
    margin-right: 1rem;
    width: 165px;
  }
  
  #cryptoKeysList li {
    display: flex;
    align-items: center;
  }
  
  #cryptoKeysList li strong {
    margin-right: 1rem;
    width: 210px;
  }
  
  .custom-itens li span {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--white-color);
    width: 100%;
  }
  