/*Estilos Gerais*/
.editor-container {
  font-family: var(--main-font);
}
h3 {
  line-height: 120%;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
}

.editor-container * {
  color: var(--fourth-color);
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  width: 100px;
}
.custom-itens > .button {
  background-color: var(--button-color-main);
  color: var(--button-text-main);
}
.custom-itens li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.custom-itens > .info_text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.custom-itens > .button {
  font-weight: bold;
}

.input-key {
  color: black;
}

input[type="text"] {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

/* Estilos específicos */

/*Sessão dos inputs*/

.custom-itens:nth-child(1) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--background-color);
  padding: 2rem;
}

.custom-itens:nth-child(1) input[type="text"] {
  width: 100%;
}

/*Sessão das keys atuais*/

.custom-itens:nth-child(2) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--background-color);
  padding: 2rem;
}

.custom-itens:nth-child(2) button {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 1rem;
}

#cryptoKeysList li {
  display: flex;
  align-items: center;
}

#cryptoKeysList li strong {
  margin-right: 1rem;
  width: 210px;
}

.custom-itens li span {
  display: flex;
  justify-content: center;
  color: var(--main-text-color);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--secondary-color);
}

@media only screen and (min-width: 1024px) {
  .overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
  }

  .editor-container {
    display: flex;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }

  .custom-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .custom-itens:nth-child(2),
  .custom-itens:nth-child(1) {
    border-radius: 0;
  }
}
