#find_img {
  display: none;
}
.result_text-area {
  background-color: var(--background-color);
  color: var(--main-color);
  resize: none;
  overflow: hidden;
  width: 100%;
  font-size: 32px;
  line-height: 150%;
  font-family: var(--main-font);
  padding: 0.5em;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.results_data {
  flex-direction: column;
  gap: 1em;
}

.result-area {
  background-color: #ffffff;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 30px;
  margin: 1.5em 1.5em 1em 1.5em;
  padding: 2em;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.3);
  align-items: center;
}

#result-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}

#result-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--terciary-color);
  text-align: center;
  padding: 0 1em 0 1em;
}

#result-crypto {
  display: none;
  font-size: 24px;
  line-height: 150%;
  color: var(--terciary-color);
  word-break: break-all;
}

@media screen and (min-width: 768px) {
  .result-area {
    justify-content: center;
  }

  .result-side {
    flex-grow: 1;
    margin-bottom: 1em;
  }

  #result-crypto {
    overflow-y: auto;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1366px) {
  .result-area {
    overflow: auto;
    max-height: calc(100vh - 10em);
    width: 30em;
    height: 45em;
  }
  #result-crypto {
    overflow-y: auto;
    margin-bottom: 2em;
  }

  .result-side {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
