@import url("buttons.css");
@import url("textarea.css");
@import url("footer.css");
@import url("header.css");
@import url("results.css");
@import url("infos.css");
@import url("hamburguer-animation.css");
@import url("custom-menu.css");
@import url("error.css");

:root {
  --white-color: #ffffff;
  --background-color: #f7f3f3;
  --main-color: #0a3871;
  --secondary-color: #ffffff;
  --terciary-color: #343a40;
  --fourth-color: #495057;
  --main-font: "Inter";
}

body {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

main {
  padding: 2%;
}

.main_container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  .main_container {
    flex-direction: column;
    padding-top: 0;
  }
  .input-side {
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1366px) {
  body {
    min-height: 100vh;
  }
  .main_container {
    margin-left: 5em;
    min-height: 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }
  .input-side {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
