@import url("buttons.css");
@import url("textarea.css");
@import url("footer.css");
@import url("header.css");
@import url("results.css");
@import url("infos.css");
@import url("overlay-menu.css");
@import url("error.css");
@import url("icons.css");
@import url("switch-theme.css");

:root {
  /*Colors*/

  --main-color: #0a3871;
  --main-text-color: #0a3871;
  --button-color-main: #0a3871;
  --button-text-secondary: #0a3871;
  --footer-itens-color: #0a3871;

  --background-color: #f7f3f3;
  --header-footer-color: #f7f3f3;
  --button-color-secondary: ##f7f3f3;

  --secondary-color: #ffffff;
  --button-text-main: #ffffff;

  --secondary-text-color: #343a40;

  --terciary-text-color: #495057;

  --fourth-color: #000000;

  --error-color: #f15353;

  --overlay-color: #2d415bf0;

  --details-color: #e0e0e0;
  --main-font: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

main {
  padding: 2%;
}

.main_container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  .main_container {
    flex-direction: column;
    padding-top: 0;
  }
  .input-side {
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1366px) {
  body {
    min-height: 100vh;
  }
  .main_container {
    margin-left: 5em;
    min-height: 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }
  .input-side {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
